output/rsync_log output/script_dir_list output/script_dir_list_size output/script_dir_list_size_filtered output/script_dir_list_sorted output/script_file_list_exclusive output/script_file_list_exclusive_quoted output/script_file_list_inclusive output/script_file_list_inclusive_quoted output/script_file_list_inclusive_truncated output/script_file_list_size_exclusive output/script_file_list_size_inclusive
tags
backup/Aakash backup/Anastasia backup/Anna_Rosa backup/Burulca backup/Carl backup/Hannah backup/Lela backup/Maik backup/Martijn backup/Paul backup/Summaira backup/Sylvia backup/Teera
